body {
	margin:0px auto auto;
    width:800px;
    text-align:center;
	
	
	border: 0px;
	border-style:dashed;
	border-color:green;
}
html{
	margin:0px;
	padding:0px;

}

img {
	border:0px;
}

#lang {
	position: absolute;
	top:2px;
	width:800px;
	margin:auto;
	z-index:17;
	text-align:right;
    border: 0px solid #8AC007;
}

#logo_UdeM {
    float:right;
    display:block;
    height:50px;
}

#logo_Geodes {
    float:right;
    height:30px;
	right:0px;
	z-index:1;
	
}

#header {
    text-align:left;
    float:bottom;
	margin: 0px;
	height:100px;
	padding-top: 0px;
	vertical-align:bottom;
	
}

#header>p {
	padding:00px;
    vertical-align:bottom;
    border: 0px;
	border-style:dashed;
	border-color:blue;
}

#superContainer {
    margin:auto;

}
#mainContainer {
	margin-left:10px;
	padding:0px;
	
	position:relative;
	float:right;
	width:610px;/* super is 800px */

}

#rightContainer {
	padding:30px 0px 0px 0px;
	margin:0px;
	
	position:relative;
    overflow:auto;

}


#footer {
	height:80px;
	clear: both;
}

.imgContact {
	width:30px;
	float: left;
	margin-left:1px;
}
.imgMedia {
	width:20px;
	float: left;
	margin-left:3px;
}

