---
layout: default
title: Home
permalink: /
id: home
order: 1
---


{% assign page_data = site.data[site.active_lang].home_page %}
{% assign page_titles = page_data.titles %}
{% assign faculty = site.data.people.faculty %}
{% assign postdocs = site.data.people.people | where_exp: "person", "person.position == 'Postdoc'" %}
{% assign phds = site.data.people.people | where_exp: "person", "person.position == 'PhD'" %}
{% assign mscs = site.data.people.people | where_exp: "person", "person.position == 'MSc'" %}

{% assign postdocsAlumni = site.data.people.alumni | where_exp: "person", "person.programme == 'Postdoc'"%}
{% assign phdsAlumni = site.data.people.alumni | where_exp: "person", "person.programme == 'PhD'"%}
{% assign mscsAlumni = site.data.people.alumni | where_exp: "person", "person.programme == 'MSc'"%}


<div class="home-content">
    <section class="home-content-main content-wrapper">
        <div class="home-content-section home-content-intro">
            <img class="home-img" src="/assets/images/geodes_group_2025.jpg" />
            <p class="bare">
                {% assign ok = "home/home-intro." | append: site.active_lang | append: ".html" %}
                {% include {{ok}} %}
            </p>
        </div>

        <div class="home-content-section home-content-theme">
            <h3 class="section-title">{{page_titles.focus_areas}}</h3>
            <ul class="bare-list focus-areas">
                {% for focus_area in page_data.focus_areas %}
                <li class="focus-area">
                    <h4 class="focus-area-title">{{focus_area.title}}</h4>
                    <ul class="bare-list focus-area-themes">
                        {% for theme in focus_area.themes %}
                        <li class="focus-area-theme">{{theme}}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <img src="/images/word_cloud.png" class="img-word-cloud" />
        </div>
    </section>
    <aside class="home-content-news content-wrapper">
        {% include news.html %}
    </aside>
</div>

<article class="home-about">
    <div class="content-wrapper">
        <h3 class="section-title">{{page_data.titles.history}}</h3>
    
        <p>
            {{page_data.history}}
        </p>
    </div>
</article>


<!-- {% assign gradStudentsCount = phds.size | plus: mscs.size %}

{% assign alumnisize = postdocsAlumni.size | plus: phdsAlumni.size | plus: mscsAlumni.size %}

<table class="numbers">
    <tr>
        <td class="numberCell">3</td><td class="numberCell">{{ postdocs.size }}</td><td class="numberCell">{{ gradStudentsCount }}</td><td class="numberCell">150+</td>
    </tr>
    <tr>
        <td class="labelCell">Faculty members</td><td class="labelCell">Postdocs</td><td class="labelCell">Grad students</td><td class="labelCell">Alumni</td>
    </tr>
</table>
-->
