---
layout: page
title: People
permalink: /people/
order: 1
---

{% assign professors = site.data.people | where_exp: "person", "person.programme == 'professor'" | sort: "name"%}

{% assign postdocs = site.data.people | where_exp: "person", "person.programme == 'Postdoc'" | sort: "name"%}
{% assign postdocsActive = postdocs | where_exp: "postdoc", "postdoc.status == 's'"%}
{% assign postdocsAlumni = postdocs | where_exp: "postdoc", "postdoc.status == 'a'"%}

{% assign visitors = site.data.people | where_exp: "person", "person.programme == 'visiting'" | sort: "name"%}

{% assign phds = site.data.people | where_exp: "person", "person.programme == 'PhD'" | sort: "name"%}
{% assign phdsActive = phds | where_exp: "phd", "phd.status == 's'"%}
{% assign phdsAlumni = phds | where_exp: "phd", "phd.status == 'a'"%}

{% assign mscs = site.data.people | where_exp: "person", "person.programme == 'MSc'" | sort: "name"%}
{% assign mscsActive = mscs | where_exp: "msc", "msc.status == 's'"%}
{% assign mscsAlumni = mscs | where_exp: "msc", "msc.status == 'a'"%}



{% include printFaculty.html %}
{% include printCurrentPeopleBlock.html group=postdocsActive title="Postdoctoral fellows" %}
{% include printCurrentPeopleBlock.html group=visitors title="Visiting" %}
{% include printCurrentPeopleBlock.html group=phdsActive title="PhD students" %}
{% include printCurrentPeopleBlock.html group=mscsActive title="Master's students" %}
{% include printAlumni.html postdocs=postdocsAlumni phds=phdsAlumni mscs=mscsAlumni %}