---
layout: page
title: People
permalink: /people/
order: 1
---

{% assign professors = site.data.people | where_exp: "person", "person.programme == 'professor'" | sort: "name"%}

{% assign postdocs = site.data.people | where_exp: "person", "person.programme == 'Postdoc'" | sort: "name"%}
{% assign postdocsActive = postdocs | where_exp: "postdoc", "postdoc.status == 's'"%}
{% assign postdocsAlumni = postdocs | where_exp: "postdoc", "postdoc.status == 'a'"%}

{% assign visitors = site.data.people | where_exp: "person", "person.programme == 'visiting'" | sort: "name"%}

{% assign phds = site.data.people | where_exp: "person", "person.programme == 'PhD'" | sort: "name"%}
{% assign phdsActive = phds | where_exp: "phd", "phd.status == 's'"%}
{% assign phdsAlumni = phds | where_exp: "phd", "phd.status == 'a'"%}

{% assign mscs = site.data.people | where_exp: "person", "person.programme == 'MSc'" | sort: "name"%}
{% assign mscsActive = mscs | where_exp: "msc", "msc.status == 's'"%}
{% assign mscsAlumni = mscs | where_exp: "msc", "msc.status == 'a'"%}

<h1>Faculty</h1>
<ul>
  <li><a href="http://www.iro.umontreal.ca/~sahraouh/">Houari Sahraoui</a> (Full Professor)</li>
  <li><a href="http://www-ens.iro.umontreal.ca/~syriani/">Eugene Syriani</a> (Associate Professor)</li>
  <li><a href="https://michalis.famelis.info/">Michalis Famelis</a> (Assistant Professor)</li>
</ul>

<h1>Postdoctoral fellows</h1>
<ul>
{% for person in postdocsActive %}
  {% include printPerson.html %}
{% endfor %}
</ul>

{% if visitors.size > 0 %}
    <h1>Visiting</h1>
    <ul>
    {% for person in visitors %}
      <li>
        {{person.name}}
      </li>
    {% endfor %}
    </ul>
{% endif %}

<h1>PhD students</h1>
<ul>
{% for person in phdsActive %}
    {% include printPerson.html %}
{% endfor %}
</ul>

<h1>Master's students</h1>
<ul>
{% for person in mscsActive %}
  {% include printPerson.html %}
{% endfor %}
</ul>


<h1>Alumni</h1>
<ul>
{% for person in postdocsAlumni %}
  {% include printPerson.html printPosition = "on" %}
{% endfor %}
</ul>

<ul>
{% for person in phdsAlumni %}
  {% include printPerson.html printPosition = "on" %}
{% endfor %}
</ul>

<ul>
{% for person in mscsAlumni %}
  {% include printPerson.html printPosition = "on" %}
{% endfor %}
</ul>