---
layout: page
title: Projects
permalink: /projects
order: 4
---

<header>
    <h1>Recently funded projects</h1>

    <p class="description">
        A high-quality research agenda would not be possible without (inter)national grants. We also believe a balanced
        research portfolio can only be sustainable by maintaining strong connections with our industrial partners.
        In our R&D projects, we strive to contribute innovative techniques, methods, and tools to the state of the art
        and
        the state of the practice.
    </p>
</header>

{% assign fundedProjects = site.data.projects.funded%}

<ul class="bare-list project-list project-list--funded">
    {% for project in fundedProjects %}
        <li class="project-list-item">
            {% include projects/funded.html project=project %}
        </li>
    {% endfor %}
</ul>