---
layout: page
title: Projects
permalink: /projects
id: projects
order: 4
---

<!-- <header>
    <h1>Recently funded projects</h1>

    <p class="description">
        A high-quality research agenda would not be possible without (inter)national grants. We also believe a balanced
        research portfolio can only be sustainable by maintaining strong connections with our industrial partners.
        In our R&D projects, we strive to contribute innovative techniques, methods, and tools to the state of the art
        and
        the state of the practice.
    </p>
</header> -->

<div class="content-wrapper">
    <h1 class="page-title">Recently funded projects</h1>
    
    <p class="page-intro">
        A high-quality research agenda would not be possible without (inter)national grants. We also believe a balanced research portfolio can only be sustainable by maintaining strong connections with our industrial partners.<br>
        In our R&D projects, we strive to contribute innovative techniques, methods, and tools to the state of the art and the state of the practice.
    </p>
    
    {% assign fundedProjects = site.data.projects.funded %}
    {% assign fundedProjectsSorted = site.data.projects.funded | sort:"endYear" | reverse %}
    {% assign endYears = fundedProjectsSorted | group_by: "endYear" %}
    {% assign endYearsSorted = endYears | sort:"endYear" %}
    
    <div class="bare-list project-list">
        {% for y in endYearsSorted %}
            {% assign projects = y.items | sort:"startYear" | reverse %}
            {% for p in projects %}
                {% include projects/funded.html project = p %}
            {% endfor %}
        {% endfor %}
    </div>
</div>