---
layout: default
title: GEODES Seminar Series
permalink: /seminar
order: 45
---

{% assign i18n = site.data.seminar_page %}
{% assign upcoming = site.data.events.seminars | where_exp: "seminar", "seminar.status != 'done'" | sort: 'date' %}
{% assign pastcurrentseason = site.data.events.seminars | recent: 40, "date" %}
{% assign pastoldseason = site.data.events.seminars  | past: 40, "date" | sort: 'date' | reverse %}


<div class="content-wrapper">
    <header class="seminar-header">
        <h1 class="seminar-logo page-title">
            <img class="seminar-logo-img" src="assets/images/geodes-seminar.png" alt="Seminar logo">
        </h1>
        
        <!-- <br/>
            <div style="background-color:#f5f514;color:black;">
            <br/>
            <center><p style="font-weight:700;">SUMMER BREAK</p></center>
    
            <p style="text-align:center;">
            The seminar takes a summer break of about 3-4 weeks after 22 July.<br/>
            Thank you all for your talks and presence. We will be back in August.</p><br/>
            </div>
        <br/><br/>
        -->
    
        
        <p class="page-intro">
            {{ i18n.intro }}
            <!-- These events follow an <strong>in-person</strong> format. By that, we hope to re-establish the everyday social aspects of the research group in a post-COVID world. -->
        </p>
    
        <!-- <ul class="bare-list">
            <li>
                <strong>Format</strong>: In person
            </li>
            <li>
                <strong>Location</strong>: 
                Pavillon Andre-Aisenstadt
            </li>
        </ul> -->
    </header>
    
    <section class="seminar-section">
        <h1 class="seminar-section-title">{{ i18n.upcoming_talk_title | default: "Upcoming talks" }}</h1>
        
        {% if upcoming.size == 0 %}
            <p class="talk-description">{{ i18n.no_events | default: "There are no upcoming events scheduled currently. Check back later."}}</p>
        {% else %}
        <ul class="bare-list talks">
            {% for seminar in upcoming %}
                <li class="talk">
                    <div class="talk-image">
                        {% if seminar.presenters.size == 1 %}
                            <img class="talk-photo-img" src="{{seminar.presenters.first.photo}}" alt="Photo of {{seminar.presenters.first.name}}">
                        {% else %}
                            <ul class="bare-list talk-multiphotos">
                                {% for presenter in seminar.presenters %}
                                    <li class="talk-multiphoto">
                                        <img class="talk-multiphoto-img" src="{{presenter.photo}}" alt="Photo of {{presenter.name}}">
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="talk-info">
                        <span class="talk-title">{{seminar.title}}</span>
                        <ul class="bare-list talk-presenters">
                            {% for presenter in seminar.presenters %}
                                <li class="talk-presenter">
                                    <a href="{{presenter.url}}" class="link talk-presenter-name" target="_blank">{{presenter.name}}</a>
                                    {% if presenter.affiliation %}&ndash; {{presenter.affiliation}}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        
                        <div class="talk-description">
                            {% if seminar.description %}
                                {{seminar.description}}
                            {% elsif seminar.short_description %}
                                {{seminar.short_description}}
                            {% endif %}
                        </div>

                        <div class="talk-venue">
                            {% if seminar.date %}
                                {% if seminar.cal_link %}
                                    <a class="link cal-link" href="/assets/cals/{{seminar.cal_link}}" title="Add the event to your calendar">
                                        <span class="talk-date">
                                            <img class="ico ico-cal" src="/assets/images/icon-calendar.svg" alt="Calendar icon">
                                            <span class="talk-date-date">{{seminar.date | locale_date: site.active_lang }}</span>
                                            <span class="talk-date-time">@{{seminar.time}}</span>
                                        </span>
                                    </a>
                                {% else %}
                                    <span class="talk-date">
                                        <img class="ico ico-cal" src="/assets/images/icon-calendar--black.svg" alt="Calendar icon">
                                        <span class="talk-date-date">{{seminar.date | date: "%A, %B %d, %Y" }}</span>
                                        <span class="talk-date-time">@{{seminar.time}}</span>
                                    </span>
                                {% endif %}
                                {% if seminar.location %}
                                    <span class="talk-location">{{seminar.location}}</span>
                                {% endif %}
                            {% else %}
                                <em>The date will be announced soon!</em>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    
    <section class="seminar-section">
        <h1 class="seminar-section-title">{{ i18n.previous_talk_title | default: "Previous talks this season" }}</h1>
    
        <ul class="bare-list previous-talks">
            {% for seminar in pastcurrentseason %}
                <li class="previous-talk">
                    <span class="talk-title">{{seminar.title}}{% if seminar.material %} <a href="presentations/{{seminar.material}}">[presentation]</a>{% endif %}</span>
                    <ul class="bare-list talk-presenters">
                        {% for presenter in seminar.presenters %}
                            <li class="talk-presenter">
                                <a href="{{presenter.url}}" class="talk-presenter-name" target="_blank">{{presenter.name}}</a>
                                {% if presenter.affiliation %}&ndash; {{presenter.affiliation}}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="talk-description">
                    {% if seminar.short_description %}
                        {{seminar.short_description}}
                    {% elsif seminar.description %}
                        {{seminar.description}}
                    {% endif %}
                    </p>
                    <div class="talk-venue">
                        <span class="talk-date">
                            {{seminar.date}}{% if seminar.time %}<span class="talk-date-time">@{{seminar.time}}</span>{% endif %}
                        </span>
                        {% if seminar.location %}
                            <span class="talk-location">{{seminar.location}}</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="seminar-section">
        <h2 class="seminar-section-title">{{ i18n.ancient_talk_title | default: "Previous talks in previous seasons" }}</h2>
    
        <ul class="bare-list previous-talks">
            {% for seminar in pastoldseason %}
                <li class="previous-talk">
                    <span class="talk-title">{{seminar.title}}{% if seminar.material %} <a href="presentations/{{seminar.material}}">[presentation]</a>{% endif %}</span>
                    <ul class="bare-list talk-presenters">
                        {% for presenter in seminar.presenters %}
                            <li class="talk-presenter">
                                <a href="{{presenter.url}}" class="talk-presenter-name">{{presenter.name}}</a>
                                {% if presenter.affiliation %}&ndash; {{presenter.affiliation}}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="seminar-section">
        <h3 class="seminar-section-title">Contact</h3>
        
        <p>
            Got an interesting topic you'd like to present? Reach out to your favorite postdoc for details.
        </p>
    </section>
</div>
