---
layout: default
title: Teaching
permalink: /teaching
id: teaching
order: 8
---

{% assign i18n = site.data.teaching_page %}

<div class="content-wrapper">
    <header>
        <h1 class="page-title">{{ i18n.title | default: "Teaching" }}</h1>
        
        <p class="page-intro">
            {{ i18n.intro }}
        </p>
    </header>
    
    {% assign courses_by_program = site.data.teaching.courses | group_by: "program" %}

    {% for program in courses_by_program %}    
        <section class="teaching-section">
            {% assign title_key =  program.name | downcase | append: "_title" %}
            <h3 class="teaching-section-title">{{i18n[title_key]}}</h3>

            {% assign courses = program.items | sort: "code" %}
            <ul class="bare-list courses">
                {% for course in courses %}
                    <li class="course">{% include teaching/course.html course=course %}</li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
    
</div>