---
layout: page
title: Tools
permalink: /tools
order: 6
---

<h3>Tools</h3>

<div class="description">
Our research typically manifests in software tools. Below is a selection of the important ones.
Several other software projects are available from our <a href="https://github.com/geodes-sms">GitHub organization</a>.
</div>
<br><br>

{% assign tools = site.data.projects.tools%}

{% for tool in tools %}
    {% if tool.description and tool.url %}
        {% include projects/tool.html tool=tool %}
    {% endif %}
{% endfor %}