<div class="project">
    <div class="project-funding">
        <img class="project-logo" title="{{include.project.funding}}" src="/images/logos/{{ include.project.logo }}">
        <p class="project-funding-description">{{include.project.funding}}</p>
    </div>
    <div class="project-content">
        <h3 class="project-title">{{ include.project.name }}</h3>
        <!-- <p class="project-description"></p> -->
        {% if include.project.partners %}
            <p class="bare project-partners">
                <span class="label">Partners</span>
                <span class="project-partner-name">{{include.project.partners | join: ", " }}</span>
            </p>
        {% endif %}
        <p class="bare project-period">
            <span class="label">Period</span> 
            <span>{{include.project.startYear}}&ndash;{{include.project.endYear}}</span>
        </p>
    </div>
</div>