<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <p class="site-footer-copyright">
            &copy; {{ site.time | date: '%Y' }}, <strong>GEODES</strong>
        </p>
        <p class="site-footer-address">
            Département d'informatique et de recherche opérationnelle, Université de Montréal<br/>
            C.P. 6128 Succursale Centre-ville, Montréal (QC) CANADA H3C 3J7
        </p>
    </div>
</footer>