<footer class="site-footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="content-wrapper">
        <div class="site-footer-nav">
            <img class="site-logo" src="/artwork/geodes-dark.png">
            <ul class="bare-list footer-menu">
                {% for link in site.footer_navigation %}
                    {% assign url = page.url|remove:'index.html' %}
                    <li class="footer-menu-item">
                        <a class="bare-link footer-menu-link" href="{{link.url}}">{{link.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- <p>Attend our next <a href="/events/seminar">seminar</a></p> -->
        </div>

        <div class="site-footer-external">
            <p class="bare site-footer-address">
                <a class="link" href="https://www.umontreal.ca/" target="_blank">Université de Montréal</a> <br>
                <a class="link" href="https://diro.umontreal.ca/" target="_blank">Département d'informatique et de recherche opérationnelle</a>
            </p>
          
            <p class="site-footer-contact">
                <span class="label">Contact us at</span> <a href="mailto:geodes@iro.umontreal.ca">geodes@iro.umontreal.ca</a> <br>
                <span class="label">Follow us on Twitter</span> <a href="https://twitter.com/UMontrealGEODES" target="_blank">@UMontrealGEODES</a>
            </p>
        </div>
    </div>

    <div class="site-footer-end content-wrapper">
        <p class="site-footer-maintenance">
            Maintenu par: <a class="bare-link" href="mailto:louis.edouard.lafontant@umontreal.ca" target="_blank">Louis-Edouard LAFONTANT</a>
        </p>
        <p class="site-footer-copyright">&copy; {{ site.time | date: '%Y' }}, <strong>GEODES</strong></p>
    </div>
</footer>