{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<header class="site-header" role="banner">
    <div class="content-wrapper">
        <a class="bare-link site-title" href="/"><img class="site-logo" src="/artwork/geodes.png"></a>

        {%- if page_paths -%}
        <nav class="site-nav">
            <div class="trigger">
                <ul class="bare-list menu" style="clear:both;">
                    {% for link in site.navigation %}
                        {% assign url = page.url|remove:'index.html' %}
                        {% assign hasSubpages = link.subpages != undefined %}
                        <li class="menu-item {% if url==link.url %}current{% endif %}">
                            {% if hasSubpages %}
                                {% assign subpage_urls = link.subpages|map:'url' %}
                                <span tabindex="-1" class="menu-link parent {% if subpage_urls contains url %}active{% endif %}">
                                    {{link.title}}
                                    <button class="btn btn-show" type="button">▼</button>
                                </span>
                                <ul class="bare-list submenu">
                                    {% for subpage in link.subpages %}
                                    <li class="submenu-item {% if url==subpage.url %}current{% endif %}">
                                        <a class="bare-link menu-link submenu-item-link {% if url==subpage.url %}current{% endif %}" href="{{ subpage.url }}">{{ subpage.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a href="{{link.url}}" class="bare-link menu-link menu-item-link {% if url==link.url %}current{% endif %}">
                                    {{link.title}}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {%- endif -%}
    </div>
</header>