<h1>Faculty</h1>

<div class="list-circles">
  {% for item in site.data.faculty %}
    <div class="list-circles-item">
      {% if item.image %}
        {% if item.website %}
          <a href="{{ item.website }}"><img src="/images/{{ item.image }}" class="item-img" /></a>
        {% else %}
          <img src="/images/{{ item.image }}" class="item-img" />
        {% endif %}
      {% endif %}
      {% if item.name %}
        <div class="item-name"><b>{{ item.name }}</b></div>
      {% endif %} 
      {% if item.position %}
        <div class="item-desc">{{ item.position }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>