.rds-talk-formats {
    display: flex; flex-direction: column;
}

.rds-talk-format {
    display: flex;
    margin-bottom: 6px;
}

.rds-talk-format:before,
.rds-ico  {
    content: "";
    display: inline-block;
    margin-right: 4px;
    height: 24px;
    width: 24px;
    border: 2px solid #555;
    border-radius: 50%;
}

    .rds-talk-format--flash:before {
        background-color: #f2ff00;
    }
    .rds-talk-format--technical:before {
        background-color: #66ffff;
    }
    .rds-talk-format--demotalk:before {
        background-color: #ffb0e9;
    }

    .rds-talk-format .label {
        margin-right: 6px;
    }

    .rds-talk-format .label:after {
        content: ":";
    }


.rds-ico  {
    position: relative;
    height: 20px; width: 20px;
    font-style: normal;
    margin-left: 6px;
}
.rds-ico:after  {
    content: attr(data-label);
    position: absolute;
    top: 0; left: 100%;
    padding: 4px 6px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 90px;
    border-radius: 2px;
    background-color: #555;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: .2s;
}

.rds-ico:hover:after  {
    opacity: 1;
    transform: scale(1) translateX(2px);
}

    .rds-ico--flash  {
        background-color: #f2ff00;
    }
    .rds-ico--technical  {
        background-color: #66ffff;
    }
    .rds-ico--demotalk  {
        background-color: #ffb0e9;
    }

.demotalk {
    color: black;
    background-color: #ffb0e9;
    display: inline;
}

.technical{
    color: black;
    background-color: #66ffff;
    display: inline;
}

.flash {
    color: black;
    background-color: #f2ff00;
    
    display: inline;
}

.small {
    font-size:80%;
}
