.demotalk{
    color: black;
    background-color: #ffb0e9;
    font-size:80%;
    font-weight: 400;
    display: inline;
}

.technical{
    color: black;
    background-color: #66ffff;
    font-size:80%;
    font-weight: 400;
    display: inline;
}

.flash{
    color: black;
    background-color: #f2ff00;
    font-size:80%;
    font-weight: 400;
    display: inline;
}
