.wrapper{
    max-width: -webkit-calc(1000px);
    max-width: calc(1000px);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-align:justify;
}

.home-split-main{
  @extend .home;
  text-align:justify;

  width:70%;
  float:left;
}

.home-split-news {
    width: 30%;
    float: right;
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 0;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

table {
    font-size: 100%;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #000000;
    border-collapse: collapse;
    border: 0px solid #e8e8e8;
}

table td {
    border: 0px solid #e8e8e8;
}

table tr {
    border: 0px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #FFFFFF;
}

table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.nameResizeWeight {
    font-weight: 500;
}

.nameResize {
    font-size: 110%;
}

.description {
    text-align: justify;
}

.small-data{
    font-size:90%;
}

.numbers {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.numberCell {
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    color: #EF4E36;
    width: 25%;
    padding: 0px;
}

.alumniNumberCell {
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    color: #F58634;
    width: 25%;
    padding: 0px;
}

.labelCell {
  text-align:center;
  font-size:90%;
  color:white;
  background-image: linear-gradient(170deg, #d7673b, #EF4E36);
  width:25%;
  padding: 0px;
}


.focusAreaCell {
  text-align:center;
  font-size:100%;
  font-weight: 500;
  color:white;
  background-image: linear-gradient(170deg, #d7673b, #EF4E36);
  width:25%;
  padding: 0px;
}


a:link, a:visited {
    color: #EF4E36;
}

.navigation {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6px;
    list-style-type:none;
}
.navigation li {
    float: left;
    position: relative;
    list-style: none;
}
.navigation li a {
    color: #333;
    font-weight: normal;
    font-size:16px;
    border-radius: 5px;
    padding: 8px 10px;
    display: block;
    font-weight: 450;
    white-space: nowrap;
    line-height:25px;
}
.navigation ul li a {
    border-radius: 0;
    padding: 5px 10px;
    margin:5px;
    font-size:15px;
    font-weight: normal;
    text-transform: capitalize;
}
.navigation li > ul {
    position:absolute;
    list-style-type: none;
    top: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #EF4E36;
    left:0;
    display: none;
    min-width: 100%;
}
    .navigation li:hover > ul {
        display: block;
        list-style: none;
    }
    .navigation li ul li {
        display: block;
        float: none;
        margin-left: 0;
    }

    .navigation li ul li a,
    .navigation li ul li a:hover {
        color: #f5f5f5;
    }
    .navigation li ul li.current > a {
        color: #fff;
    }
    
    .navigation li ul li a:hover {
        border-radius: 0;
    }
    .navigation > li a:hover, 
    .navigation li > ul:hover + a, 
    .navigation li.current > a {
        color: #F58634;
    }
    .navigation li.current > a {
        font-weight: 550
    }
    .navigation li a[href^=http]:after {
        font-family:"fontello";
        font-style: normal;
        font-weight: normal;
        content:'\e9c8';
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .3em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .3em;
    }


.talks {
    display: flex;
}

.talk {
    display: flex;
    margin-right: 18px;
    margin-bottom: 12px;
    max-width: 600px;
    padding: 12px;
    background-color: #f5f5f5;
    box-shadow: 1px ;
    border-bottom: 6px solid #EF4E36;
    border-radius: 4px;
}

.talk-image {
    
}

.talk-photo {
    width: 120px; height: auto;
    border-radius: 50%;
}

.talk-photo-img {
    display: block;
    min-width: 200px; height: auto;
    border-radius: 50%;
}

.talk-multiphotos {
    display: flex; flex-direction: column;
}

.talk-multiphoto {
    margin-bottom: 6px;
}

.talk-multiphoto-img {
    display: block;
    border-radius: 50%;
    min-width: 120px; height: auto;
}

.talk-info {
    flex-grow: 2;
    margin-left: 12px;
    display: flex; flex-direction: column;
}

.talk-title {
    text-align: start;
    font-size: 1.3em; font-weight: 300;
    line-height: 1.35;
    margin-bottom: 6px;
}

.talk-presenters {
    display: flex; flex-direction: column;
    margin-bottom: 6px;
}

.talk-presenter {
    display: flex; flex-direction: column;
}

.talk-presenter-name {
    font-size: 1.1em;
}

.talk-venue {
    justify-self: flex-end;
    display: flex; flex-direction: column;
    align-items: flex-end;
}


.talk-description {
    flex-grow: 2;
}

.talk-date {
    font-weight: 500;
}

.talk-location {
    color: #555;
}