.home-split-main{
  @extend .home;
  text-align:justify;
  margin-top:10px;
  width:70%;
  float:left;
}

.home-split-news{
    width:30%;
    float: right;
}

table {
    font-size:100%;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #000000;
    border-collapse: collapse;
    border: 0px solid #e8e8e8;
}

table td {
    border: 0px solid #e8e8e8;
}

table tr {
    border: 0px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #FFFFFF;
}

table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.nameResizeWeight{
    font-weight: 500;
}

.nameResize{
    font-size:110%;
}

.description{
    text-align:justify;
}

.numbers {
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

.numberCell {
  text-align:center;
  font-size:150%;
  font-weight: 500;
  color: #EF4E36;
  width:20%;
  padding: 0px;
}

.alumniNumberCell {
  text-align:center;
  font-size:130%;
  font-weight: 500;
  color: #F58634;
  width:20%;
  padding: 0px;
}

.labelCell {
  text-align:center;
  background-color: #FEE6AA;
  font-size:100%;
  width:20%;
  padding: 0px;
}