.home-split-main {
    @extend .home;
    text-align: justify;
    width: 70%;
    float: left;
}

.home-split-news {
    width: 30%;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

table {
    font-size: 100%;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #000000;
    border-collapse: collapse;
    border: 0px solid #e8e8e8;
}

table td {
    border: 0px solid #e8e8e8;
}

table tr {
    border: 0px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #FFFFFF;
}

table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.nameResizeWeight {
    font-weight: 500;
}

.nameResize {
    font-size: 110%;
}

.description {
    text-align: justify;
}

.numbers {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.numberCell {
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    color: #EF4E36;
    width: 25%;
    padding: 0px;
}

.alumniNumberCell {
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    color: #F58634;
    width: 25%;
    padding: 0px;
}

.labelCell {
  text-align:center;
  font-size:90%;
  
  background-image: linear-gradient(170deg, #FFCF7A, #FEE6AA);
  width:25%;
  padding: 0px;
}

.navigation {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6px;
    list-style-type:none;
}
.navigation li {
    float: left;
    position: relative;
    list-style: none;
}
.navigation li a {
    color: #333;
    font-weight: normal;
    font-size:16px;
    border-radius: 5px;
    padding: 8px 10px;
    display: block;
    font-weight: 450;
    white-space: nowrap;
    line-height:25px;
}
.navigation ul li a {
    border-radius: 0;
    padding: 5px 10px;
    margin:5px;
    font-size:15px;
    font-weight: normal;
    text-transform: capitalize;
}
.navigation li > ul {
    position:absolute;
    list-style-type: none;
    top: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #EF4E36;
    left:0;
    display: none;
    min-width: 100%;
}
    .navigation li:hover > ul {
        display: block;
        list-style: none;
    }
    .navigation li ul li {
        display: block;
        float: none;
        margin-left: 0;
    }

    .navigation li ul li a,
    .navigation li ul li a:hover {
        color: #f5f5f5;
    }
    .navigation li ul li.current > a {
        color: #fff;
    }
    
    .navigation li ul li a:hover {
        border-radius: 0;
    }
    .navigation > li a:hover, 
    .navigation li > ul:hover + a, 
    .navigation li.current > a {
        color: #F58634;
    }
    .navigation li.current > a {
        font-weight: 550
    }
    .navigation li a[href^=http]:after {
        font-family:"fontello";
        font-style: normal;
        font-weight: normal;
        content:'\e9c8';
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .3em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .3em;
    }




/*
    FOOTER
=============================================================================*/

.footer-col-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-col--address {
    font-size: 1rem;
}

.social-media-list {
    display: flex; flex-direction: column;
}

    .social-media-list-item {
        font-size: 1em;
        display: flex; flex-direction: row;
    }

        .social-media-list-item svg {
            width: 24px;
        }