@import url("pygment_highlights.css");

/* --- General --- */

hr.people-separator{
    border:none;
    height:1px;
    background-color:#333;
    width:40%;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
}

/* --- Lists of circles --- */

.list-circles {
    display: flex; justify-content: center;
    flex-wrap: wrap;
}


@media only screen and (min-width: 1200px) {
  .list-circles {
    width: 110%;
    margin-left: -5%;
  }
}


.list-circles-faculty {
    display: flex; flex-direction: column; align-items: center;
    margin-right: 24px;
    padding: 20px;
    max-width: 200px;
}
    .list-circles-faculty:hover { background: #f5f5f5; box-shadow: 0 2px 2px -1px #c0c0c0; }

    .list-circles-faculty .item-img,
    .list-circles-person .item-img {
        margin-bottom: 6px;
        max-width: 200px;
        height: 200px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    
    .list-circles-faculty .item-name,
    .list-circles-person .item-name {
        text-align: center;
        font-size: 16px; font-weight: 500;
    }

    .list-circles-faculty .item-desc,
    .list-circles-person .item-desc {
        font-size: 16px;
    }

.list-circles-person {
    display: flex; flex-direction: column; align-items: center;
    margin-right: 12px;
    padding: 20px;
    max-width: 200px;
}
    .list-circles-person:hover { background: #f5f5f5; box-shadow: 0 2px 2px -1px #c0c0c0; }

    .list-circles-person .item-img {
        max-width: 150px;
        height: 150px;
    }

a:link, a:visited {
  color: #D36612;
}


.list-circles-faculty .item-links {
  margin-top: 5px;
}

.list-circles-person .item-links {
  margin-top: 5px;
}

.list-circles-faculty .item-link {
  margin:0 3px;
  color: #00994C;
  text-decoration: none !important;
}

.list-circles-person .item-link {
  margin:0 3px;
  color: #00994C;
  text-decoration: none !important;
}

.list-circles-faculty .item-link:hover {
  color: #00994C;
}

.list-circles-person .item-link:hover {
  color: #00994C;
}

.fa_custom {
  color: #00CC00
}
