html,
body {
    height: 100%;
    font: normal 10px 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Garamond, Baskerville, Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
}

p, li, td, th { font-size: 1.5em; }

li li, 
p li, td li, th li,
li p, li td, li th { font-size: 1em; }

table, th, td { border: 1px solid #1b1b1b; border-collapse: collapse; }

th { text-align: center; }

.content-wrapper { position: relative; padding: 0 5%; }

.btn {
    border: none;
    background: none;
    font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
    text-decoration: none; text-align: center;
    cursor: default;
}

[contenteditable=true] { outline: none; }

[data-gentleman] {
    position: relative;
    display: flex; flex-direction: column;
    height: 100%; width: 100%;
    font-size: 1rem;
    border-radius: 1px 1px 2px 2px;
    overflow: hidden;
}

.font-gentleman { font-family: Garamond, Baskerville, Georgia, 'Times New Roman', Times, serif; }

.font-ui { font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

.font-code { font-family: Consolas, 'Courier New', Courier, monospace; }

/* Organization */

.left { float: left; }

.right { float: right; }

.clear { clear: both; display: block; }

.clear:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Reset */

.bare-list { margin: 0; padding: 0; list-style: none; }

.bare-link { color: inherit; text-decoration: none; }

.block { display: block!important; }

.inline { display: inline-block!important; }

.hidden { display: none!important; }

.fit-content { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: calc(6px + 1%); max-width: 10px;
    height: calc(6px + 1%); max-height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }
    /* Handle on active */
    ::-webkit-scrollbar-thumb:active {
        background: #555;
    }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
}

.dash:before { 
    content: '-'; 
    margin-left: 4px;
    margin-right: 8px; 
    font-weight: bold;
    color: currentColor;
} 

.check:before {
    margin-left: 2px;
    margin-right: 4px; 
    font-weight: bold;
    content: '🗸'; 
    color: #11b334;
}

.label {
    font-weight: bold;
}

.page-header {
    display: flex; flex-direction: column;
    flex-wrap: wrap;
    padding-top: 24px; padding-bottom: 12px;
    padding-left: 5%; padding-right: 5%;
    background-color: #fefefe;
}

.page-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.experiment-summary {
    font-size: 1.4em;
    margin-top: 12px;
    font-style: italic;
    color: #555;
}

.page-title {
    margin: 0;
    font-weight: 300;
}

.page-subtitle {
    margin-top: 6px;
    color: #555;
}

.agreement {
    margin-top: 12px;
    width: 900px;
    border-radius: 20px 20px 0 0;
    background-color: #ffe876;
    padding: 12px;
}

.assets {
    display: flex; flex-direction: row;
}

    .asset {
        display: flex;
        margin-left: 6px;
    }

    .asset-link {
        display: block;
        padding: 8px 12px 9px;
        font-weight: 500;
        color: #fff;
        background-color: royalblue;
    }

.page-body {
    display: flex; flex-direction: column;
    padding-top: 12px; padding-bottom: 24px;
    background-color: #f5f5f5;
    padding-left: 5%; padding-right: 5%;
    background: repeating-linear-gradient(42deg, #f0f0f0, #f0f0f0 4px, #f5f5f5 4px, #f5f5f5 8px);
    color: #222;
}

.body-header {
    display: flex; flex-direction: column;
    background-color: #fbfbfb;
    padding: 12px 18px;
    border-bottom: 4px solid #FF6F61;
    border-radius: 4px;
}

    .protocol {
        align-self: flex-end; justify-self: flex-end;
    }

    .protocol-link {
        display: block; 
        text-align: center;
        padding: 8px 12px;
        border-radius: 2px;
        font-weight: 500;
        text-decoration: none;
        background-color: #F5261B;
        color: #fff;
    }

.body-section {
    display: flex; flex-direction: column;
    margin-top: 24px;
}

.feedback-section {
    margin-top: 24px;
    box-shadow: 0 0 2px -1px #d5d5d5;
}

.section-title {
    margin-top: 0; margin-bottom: 12px;
}

.task-title {
    margin: 0;
    background-color: #638AFF;
    width: 240px;
    padding: 6px 12px;
    color: #fff;
    font-weight: 300;
}

.feedback-title {
    margin: 0;
    background-color: #FF6F61;
    width: 240px;
    padding: 6px 12px;
    color: #fff;
    font-weight: 300;
}


.task-content {
    display: flex;
}

.task-content-description {
    flex: 1 1;
    
    padding: 12px;
    color: #333;
    background-color: #fefefe;
}

.task-content-results {
    display: flex; flex-direction: column;
    flex: 1 1;
    padding: 12px;
    background-color: #e5e5e5;
    background-color: #FFD300;
}

.result-title {
    margin-top: 0; margin-bottom: 6px;
    font-weight: 300;
    text-transform: uppercase;
}

.result-title:not(:first-child) {
    margin-top: 12px;
}

.task-content-description-img {
    display: block;  
    float: right;
    width: 300px;
    margin-left: 12px;
    height: auto;
    /* max-width: 100%; */
    /* max-height: 100%; */
}

.task-content__list {
    display: flex; flex-direction: column;
    flex-grow: 2;
}

.task-content__list-item:not(:last-child) {
    margin-bottom: 6px;
}

.task-content__act {
    margin-top: 24px;
    font-size: 1.6em;
    font-weight: 500;
}

.task-content__act-time {
    align-self: flex-end; justify-self: flex-end; 
    color: royalblue;
}

.task-data-list {
    display: flex;
}

    .task-data {
        color: #fff;
        border-radius: 1px;
        margin-right: 6px;
        font-weight: 500;
    }

    .task-data__link {
        display: block;
        padding: 6px 12px 7px;
        text-decoration: none;
        color: inherit;
        height: 100%; width: 100%;
        background-color: #555;
    }
        .task-data__link:hover {
            background-color: #222;
        }
    
.task-results {
    display: flex; flex-direction: column;
}

.task-result {
    border-radius: 1px;
    margin-right: 6px;
}

.task-result__link {
    display: block;
    padding: 6px 12px 7px;
    color: #fff;
    background-color: #6667AB;
    font-weight: 500;
    text-decoration: none;
    height: 100%; width: 100%;
}

    .task-result__link:hover {
        background-color: #5F4B8B;
    }

    .feedback-content {
        display: flex;
        background-color: #fefefe;
    }

    .feedback-description {
        flex: 1 1;
        padding: 12px;
    }

    .feedback-results {
        flex: 1 1;
        padding: 12px;
        background-color: #FFD300;
    }

    .feedback-score {
        display: flex; align-items: center;
        margin-bottom: 6px;
    }

    .score {
        margin-right: 2px;
        padding: 3px 6px;
        background-color: rgba(55, 55, 55, 0.5);
        font-weight: 500;
        background-color: #FCE883;
    }



.page-footer {
    padding: 24px 5% 12px;
    background-color: #0F4C81;
    font-size: 0.9em;
    color: #fff;
}

@media only screen and (min-width: 30em) {
    .task-content {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 62em) {
    .task-content {
        flex-wrap: nowrap;
    }

    .body-header {
        max-width: 920px;
    }
}