---
layout: page
title: GEODES Seminar Series
permalink: /events/seminar
order: 45
---

{% assign upcoming = site.data.events.seminars | where_exp: "seminar", "seminar.status != 'done'" %}
{% assign past = site.data.events.seminars  | where_exp: "seminar", "seminar.status == 'done'" %}

<!-- 
<br/>
<div style="background-color:#cc0000;color:white;">
<br/>
<center><p style="font-weight:700;">THE EVENT HAS BEEN POSTPONED!</p></center>

<p style="text-align:center;">The event has been postponed indefinitely due to the new COVID outbreak and the related sanitary measures. We will organize the event soon after the restrictions have been lifted. Everyone will be given the chance to revise their previously submitted topics.</p><br/>
</div>

<br/><br/>
-->
<center><img src="geodes-seminar.png"/ style="width:400px;align"></center>

<br/>
The GEODES Seminar aims to bring together members of the group in a semi-formal setting with a semi-regular timing.<br/><br/>

We'd especially love to see students at all levels reporting their progress, entertain presentations on core or adjacent topics, host dry-runs before conferences, etc.
These events follow an <b>in-person</b> format. By that, we hope to re-establish the everyday social aspects of the research group in a post-COVID world.<br/><br/>

<b>Format</b>: In person<br/>
<b>Location</b>: Pavillon André-Aisenstadt<br/><br/>

<h3>Upcoming talks</h3>
<ul>
{% for seminar in upcoming %}
    <li><b>{{seminar.date}}</b>{% if seminar.time %}, {{seminar.time}}{% endif %}<br/>
    {% if seminar.location %}{{seminar.location}}<br/>{% endif %}
    {% for presenter in seminar.presenters %}
    <a href="{{presenter.url}}">{{presenter.name}}</a>{% if presenter.affiliation %} ({{presenter.affiliation}}){% endif %}{% if forloop.last != true %},{% endif %}
    {% endfor %}<br/>
    <i>{{seminar.title}}</i>
    </li><br/>
{% endfor %}
</ul>

<h3>Previous talks</h3>
<ul>
{% for seminar in past %}
    <li>{{seminar.date}}<br/>
    {% for presenter in seminar.presenters %}
    <a href="{{presenter.url}}">{{presenter.name}}{% if presenter.affiliation %} ({{presenter.affiliation}}){% endif %}</a>{% if forloop.last != true %},{% endif %}
    {% endfor %}<br/>
    <i>{{seminar.title}}</i>
    </li><br/>
{% endfor %}
</ul>

<h3>Contact</h3>

Got an interesting topic you'd like to present? Reach out to your favorite postdoc for details.