{% assign item = include.item %}
{% assign image_url = item.image | default: "person.jpg" %}

<div class="researcher card">      
    <div class="card-header">
        <img src="/images/people/people/{{ image_url }}" class="card-img" />
        <h3 class="card-name">
            {% if item.website%}
                <a class="link card-name__link" href="{{item.website}}">{{item.name|fullName}}</a>
            {% else %}
                {{item.name|fullName}}
            {% endif %}
            <span class="card-name-title">{{item.position}}</span>
        </h3>
    </div>
    <p class="card-description">{{item.research_topic}}</p>

    <div class="card-details">
        <p class="bare researcher-supervisor">
            <span class="label">Working with</span> <strong>{{item.supervisor}}</strong>
        </p>

        <ul class="bare-list student-research-areas font-ui">
            {% for research_area in {{item.research_areas}} %}
                <li class="student-research-area fit-content" title="{{research_area}}">{{research_area}}</li>
            {% endfor %}
        </ul>
    </div>
</div>