{% assign i18n = site.data[site.active_lang].people_page %}
{% assign item = include.item %}
{% assign image_url = item.image | default: "person.jpg" %}

<div class="phd-student card">      
    <div class="card-header">
        <img src="/images/people/{{ image_url }}" class="card-img" />
        <h3 class="card-name">
            {% if item.website%}
                <a class="card-name-link bare-link" href="{{item.website}}" target="_blank">{{item.name|fullName}}</a>
            {% else %}
                {{item.name|fullName}}
            {% endif %}
        </h3> 
    </div>
    <p class="card-description">{{item.thesis}}</p>

    <div class="card-details">
        <span class="master-student-supervisor">
            <span class="label">{{ "Supervisor" | trad: i18n, "lbl" }}</span> <strong>{{item.supervisor}}</strong>
        </span>

        <ul class="bare-list student-research-areas font-ui">
            {% for research_area in {{item.research_areas}} %}
                <li class="student-research-area fit-content" title="{{research_area}}">{{research_area}}</li>
            {% endfor %}
        </ul>
    </div>
</div>