<h1>Faculty</h1>

<div class="list-circles">
  {% for item in {{include.faculty}} %}
    <div class="list-circles-faculty">      
      {% if item.image %}
        {% if item.website %}
          <a href="{{ item.website }}"><img src="/images/people/faculty/{{ item.image }}" class="item-img" /></a>
        {% else %}
          <img src="/images/people/faculty/{{ item.image }}" class="item-img" />
        {% endif %}
      {% endif %}
      {% if item.name %}
        {% if item.website %}
          <div class="item-name"><a href="{{ item.website }}">{{ item.name }}</a></div>
        {% else %}
          <div class="item-name">{{ item.name }}</div>
        {% endif %} 
      {% endif %} 
      {% if item.position %}
        <div class="item-desc">{{ item.position }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>