{% assign profsAlumni = site.data.people.alumni2.professors | where_exp: "person", "person.position == 'professor'" | sort: "name" %}
{% assign visitingProfsAlumni = site.data.people.alumni2.professors | where_exp: "person", "person.position == 'visiting professor'" | sort: "name" %}
{% assign postdocsAlumni = site.data.people.alumni2.postdocs | sort: "name" %}
{% assign phdsAlumniCurrent = site.data.people.alumni2.alumni-phd-msc-papyrus-current-profs | where_exp: "person", "person.position == 'PhD'" %}
{% assign mscsAlumniCurrent = site.data.people.alumni2.alumni-phd-msc-papyrus-current-profs | where_exp: "person", "person.position == 'MSc'" %}
{% assign phdsAlumniFormer = site.data.people.alumni2.alumni-phd-msc-papyrus-former-profs | where_exp: "person", "person.position == 'PhD'" %}
{% assign mscsAlumniFormer = site.data.people.alumni2.alumni-phd-msc-papyrus-former-profs | where_exp: "person", "person.position == 'MSc'" %}
{% assign phdsAlumniManual = site.data.people.alumni2.alumni-phd-msc-manual | where_exp: "person", "person.position == 'PhD'" %}
{% assign mscsAlumniManual = site.data.people.alumni2.alumni-phd-msc-manual | where_exp: "person", "person.position == 'MSc'" %}

{% assign phdsAlumni = phdsAlumniCurrent | concat: phdsAlumniFormer | concat: phdsAlumniManual | uniq | sort: "name" %}
{% assign mscsAlumni = mscsAlumniCurrent | concat: mscsAlumniFormer | concat: mscsAlumniManual | uniq | sort: "name" %}

<section class="content-wrapper alumni-section">
    <section class="alumni-subsection">
        <h2 class="section-title">Former professors</h2>
        <ul class="bare-list prof-alumnis">
            {% for person in {{profsAlumni}} %}
                <li class="prof-alumni">
                    {% include team/printAlumniPerson.html %}
                </li>
            {% endfor %}
        </ul>
        <ul class="bare-list prof-alumnis prof-alumnis--visitor">
            {% for person in {{visitingProfsAlumni}} %}
                <li class="prof-alumni">
                    {% include team/printAlumniPerson.html %} <i>visiting</i>
                </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="alumni-subsection">
        <h3 class="section-title">Alumni</h3>
    
        <div class="section-group">
            <h4 class="group-title">Postdoctoral</h4>
            <ul class="bare-list student-alumnis student-alumnis--postdoc">
                {% for person in {{postdocsAlumni}} %}
                    <li class="student-alumni">
                        {% include team/printAlumniPerson.html %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="section-group">
            <h4 class="group-title">PhD</h4>
            <ul class="bare-list student-alumnis student-alumnis--phd">
                {% for person in {{phdsAlumni}} %}
                    <li class="student-alumni">
                        {% include team/printAlumniPerson.html %}
                    </li>
                {% endfor %}
            </ul>
        </div>
     
        <div class="section-group">
            <h4 class="group-title">Master's</h4>
            <ul class="bare-list student-alumnis student-alumnis--master">
                {% for person in {{mscsAlumni}} %}
                    <li class="student-alumni">
                        {% include team/printAlumniPerson.html %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</section>
