<section>
    <h3 class="section-title">Master's students</h3>

    <ul class="bare-list master-students">
        {% for person in {{include.mscs}} %}
            {% assign names = person.name | split: ", " %}
            {% assign lastnameUpcase = names[0] | upcase %}
            {% assign fullname = names[1] | append: " " | append:  lastnameUpcase %}

            {% if person.website%}
                <li><a href="{{person.website}}">{{fullname}}</a></li>
            {% else%}
                <li>{{fullname}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>